@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
/* font-family: 'Mukta', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/* font-family: 'Roboto', sans-serif; */
:root
{
    --primary-cor:#409C32;
    --secondary-cor:#265C1D;
    --three-cor:#59DB46;
    --four-cor:#5FE84A;
    --five-cor:#50C23E;
    --gold-cor:#FFC857;
    --charcoal-cor:#2E4052;
    --purple-cor:#412234;
    --green-cor:#BDD9BF;
}
*{
    box-sizing: border-box;
}

body
{
    font-family: 'Mukta', sans-serif;
    font-size: 1.5rem;
    background-color: var(--purple-cor);
    display: flex;          /*coloca tudo em linha*/
    flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
    min-height: 100vh;
    /* overflow: hidden; BARRA DE SCROLL DOWN, HIDDEN ESCONDIDA */
    margin: 0;
    /*overflow-x: hidden; /*REMOVER BARRA DE SCROLL HORIZONTAL*/
    padding: 5px;
}

.mytitle
{
   
    font-size: 3rem;
    font-weight: bolder;
    /* position: absolute; */
    top: 5%;
}

.mylogin
{
    font-size: 1rem;
    font-weight: bolder;
    position: absolute;
    top: 5%;
    left: 2%;
}

.btn{
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.btn:hover{
    background-color: var(--charcoal-cor);
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.mylogin{
    background-color: var(--charcoal-cor);
}